@import url(//db.onlinewebfonts.com/c/35e7f1ee3761b734c1d98eaa4163f64e?family=MangoSans+Light);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#root {
    width: 37.5rem;
    height: 81.2rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.hrx {
    margin-top: 2.5rem;
    margin-left: 7.5rem;
    font-size: 1.7rem;
    float: left;
    color: white;
}

.fb-login-button {
    display: flex;
    margin-left: 18%;
    justify-content: center;
    margin-top: 10%;
}

.buttons1{
    margin-left: 35%;
}

.title {
    margin-top: 20rem;
    margin-right: 3rem;
    color: white;
    float: right;
    font-size: 1.5rem;
    text-decoration: line-through;
    text-decoration-color: red;
}

#root h2 {
    padding-top: 45rem;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.yoga {
    width: 17rem;
    height: 4rem;
    margin-top: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    background-color: gainsboro;
    border-radius: 5rem;
    cursor: pointer;
}

.yoga p {
    color: black;
    font-family: 'MangoSans Light';
    font-size: 3rem;
    font-weight: bold;
}

.or {
    margin-top: 1rem;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.training {
    width: 17rem;
    height: 4rem;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c34242;
    background-color: #c34242;
    border-radius: 5rem;
    cursor: pointer;
}

.training p {
    color: black;
    font-family: 'MangoSans Light';
    font-size: 2.5rem;
    font-weight: bold;
}

@media screen and (max-width:360px) {
    #root {
        width: 100%;
    }
    .logo a img {
        width: 100%;
    }
}